<app-navbar [title]="'PEDIDOS POR ENTREGAR'"></app-navbar>

<div class="container-deliver">
    <div class="deliver-detail">
      <section class="">
        <div class="deliver-table">
          <table>
            <thead>
              <tr class="deliver-head">
                <th>N° MESA</th>
                <th>CLIENTE</th>
                <th>PEDIDO</th>
                <th>ENTREGADO</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ticket.numberTable}}</td>
                  <td>{{ticket.client}}</td>
                  <td>
                    <ul>
                      <li *ngFor="let orderedProduct of productsArray(ticket.orderedProducts)">
                        {{orderedProduct.count}}
                        {{orderedProduct.name}}
                      </li>
                    </ul>
                  </td>
                  <td><button (click)="deliveredOrder(ticket.$key)" class="deliver-button">Entregado</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
