<app-navbar></app-navbar>

<div class="container-deliver">
    <div class="deliver-detail">
      <section class="">
        <div class="deliver-table">
          <table>
            <thead>
              <tr class="deliver-head">
                <th>N° MESA</th>
                <th>CLIENTE</th>
                <th>PEDIDO</th>
                <th>ENTREGADO</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>16</td>
                  <td>Pablo</td>
                  <td>1 café con leche</td>
                  <td><button class="deliver-button">Entregado</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
