<div class="ticket-container">
    <div class="ticket-header">
        <div class="ticket-subtitle">CONSUMO</div>
        <div class="ticket-client">
            Cliente :
            <input class="ticket-input" type="text" placeholder="Nombre de cliente" [(ngModel)]="customerName" />
        </div>
        <div class="ticket-client">
            Numero de mesa :
            <input class="ticket-input" type="text" placeholder="Numero de mesa" [(ngModel)]="numberTable" />
        </div>
    </div>
    <div class="ticket-height scroll">
        <table class="ticket-table">
            <thead>
                <tr class="tr-header">
                    <th scope="col" class="th-more-less"></th>
                    <th scope="col" class="th-more-less"></th>
                    <th scope="col">Cant.</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Total</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-detail" *ngFor="let product of orderedProducts">
                    <th scope="col"><button (click)="addOrderedProduct(product)" class="no-style"><img
                                src="../../assets/images/more.png" alt="" /></button>
                    </th>
                    <th scope="col"><button (click)="decreaseProduct(product)" class="no-style"><img
                                src="../../assets/images/less.png" alt="" /></button>
                    </th>
                    <th scope="col">
                        <p class="">{{product.count}}</p>
                    </th>
                    <th scope="col">{{product.name}}</th>
                    <th scope="col">
                        S/{{product.price | number:'1.2-2'}}
                    </th>
                    <th scope="col">
                        S/{{product.price * product.count | number:'1.2-2'}}
                    </th>
                    <th scope="col"><button (click)="deleteProduct(product)" class="no-style"><img
                                src="../../assets/images/delete.png" alt="" /></button></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="total-order">
        TOTAL DE PEDIDO
        <p>S/ {{ totalOrder | number:'1.2-2' }}</p>
        
    </div>
    <div class="menu-btns-active">
        <button id="confirm" class="buttons-database-confirm" (click)="saveTicket()">CONFIRMAR</button>
        <button id="cancel" class="buttons-database-cancel" (click)="cancelTicket()" >CANCELAR</button>
    </div>
</div>