/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

* {
  text-decoration: none;
  transition: all 0.3s;
  transform: all 0.3s;
}


