<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between navBackground">
  <div class="d-flex justify-content-between">
    <div class="menu">
      <div class="btn">
        <img src="../../assets/images/menu-burger.png" width="30" alt="Menu Burger"/>
      </div>
      <nav id="nav">
        <ul class="pl-0">
          <li><a href="#" routerLink="/home">Ir a Inicio</a></li>
          <li><a href="#" routerLink="/order">Menú</a></li>
          <li><a href="#" routerLink="/deliver">Entregar pedidos</a></li>
          <li><a href="#" routerLink="/kitchen">Cocina</a></li>
        </ul>
      </nav>
    </div>
    <div class="p-2">
      <ul class="navbar-nav">
        <img src="../../assets/images/logoNav.jpg" class="logo" alt="Logo Menu"/>
      </ul>
    </div>
  </div>
  <div class="navbar-nav nav-item">
        <h1 class="text-dark">ORDEN DE PEDIDO</h1>
  </div>
  <div class="navbar-nav nav-item">
        <h5 class="text-dark"><strong>{{hour}}:{{minute}} {{ampm}}</strong></h5>
  </div>
</nav>
