/* @import '../../sass/variables'; */

* {
  text-decoration: none;
  transition: all 0.3s;
  transform: all 0.3s;
}

li {
  list-style: none;
}
.menu {
  display: inline-block;
  position: relative;
  padding: 10px;

}
.menu .btn {
  display: block;
  cursor: pointer;
  padding: 10px;
}
.menu .btn .bar {
  width: 30px;
  height: 5px;
  background: #000;
  margin-bottom: 5px;
}
.menu .btn .bar:last-child {
  margin-bottom: 0px;
}
.menu nav {
  position: absolute;
  left: 10px;
  background-color: whitesmoke;
  border: 3px solid #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.7);
}
.menu nav a {
  font-family: "Open Sans";
  color: #222;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
.menu nav li:last-child a {
  border-bottom: 0px;
}
.menu nav a:hover {
  color: whitesmoke;
  background: #000;
}
.menu .menu_show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
}
.navBackground { 
  background-color: #ECA442; 
}

.logo {
  width: 95px
}