<nav
        class="navbar navbar-expand-lg navbar-light d-flex justify-content-between navBackground"
      >
        <div class="d-flex justify-content-between">
          <div class="menu">
            <div class="btn">
              <img src="../../assets/images/menu-burger.png" width="30" alt="Menu Burger"/>
              <!-- <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div> -->
            </div>
            <nav id="nav">
              <ul class="pl-0">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="p-2">
            <ul class="navbar-nav">
              <img src="../../assets/images/logoNav.jpg" class="logo" alt="Logo Menu"/>
            </ul>
          </div>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="text-dark"><h1>ORDEN DE PEDIDO</h1></a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="text-dark"><strong>Hora AM/PM</strong></a>
            </li>
          </ul>
        </div>
      </nav>