@import '../../../sass/styles.scss';

.navBackground { 
  background-color: $primary-color; 
}

.logo {
  width: 95px
}

li {
  list-style: none;
}

.menu {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.menu .btn {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.menu nav {
  position: absolute;
  margin-top: 29px;
  left: 10px;
  background-color: $primary-color;
  visibility: hidden;
  opacity: 0;
  height: 220px;
}

.menu nav a {
  color: $black;
  font-weight: bold;
  padding: 15px 20px;
  display: block;
  border-bottom: 1px solid $gris-light;
  white-space: nowrap;
  text-decoration: none;
}

.menu nav a:hover {
  color: $gris-light;
  background: $black;
}

.menu .menu_show {
  visibility: visible;
  opacity: 1;
}