<style>
    .nav-toolbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      display: flex;
      align-items: center;
      background-color: #ECA442;
      color: black;
      font-weight: 600;
      font-family: 'Merge One', 'Times New Roman';
    }
  
    .nav-toolbar img {
      margin: 0 16px;
    }
  
    .logo {
      width: 95px
    }
  
    .nav-order {
      flex-grow: 1;
      flex-shrink: 1;
    }
  
    .nav-order h1 {
      width: 100%;
      font-size: 40px;
      margin: 0 150px;
    }
  
    .nav-time {
      flex-grow: 1;
      flex-shrink: 1;
    }
  
    .nav-time h2 {
      width: 100%;
      font-size: 20px;
      color: black;
      margin: 0 15px;
    }
  </style>
  
  
  <nav class="nav-toolbar" role="banner">
      <div>
          <img src="../../assets/images/menu-burger.png" width="30" alt="Menu Burger"/>
      </div>
      <div>
          <img src="../../assets/images/logoNav.jpg" class="logo" alt="Logo Menu"/>
      </div>
      <div class="nav-order">
          <h1>ORDEN DE PEDIDO</h1>
      </div>
      <div class="nav-time">
          <h2>HORA AM/PM</h2>
      </div>
  </nav>