@import '../../../sass/styles.scss';

.container-kitchen {
    margin-top: 50px;
}

.kitchen-detail {
    display: flex;
    width: 919px;
    height: 599px;
    align-items: center;
    margin: 50px auto;
    justify-content: center;
    background-color: blue;
    // background:rgba(59, 28, 20, 0.97);
    // border: 2px solid $beige;
    box-sizing: border-box;
}

.kitchen-table {
    width: 836px;
    height: 471px;
    left: 42px;
    top: 86px;
    // background: $white;
}