<app-navbar [title]="'COCINA'"></app-navbar>
<div class="container-kitchen">
  <div class="kitchen-detail">
    <section class="">
      <div class="kitchen-table">
        <table>
          <thead>
            <tr class="kitchen-head">
              <th>N° MESA</th>
              <th>CLIENTE</th>
              <th>HORA PEDIDO</th>
              <th>PEDIDO</th>
              <th>HORA TERMINO</th>
              <th>TIEMPO (min)</th>
              <th>ESTADO</th>
              <th>CANCELAR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderList" class="table-warning">
              <td>{{order.numberTable}}</td>
              <td>{{order.client}}</td>
              <td>{{order.startDate | date: 'h:mm'}}</td>
              <td>
                <ul>
                  <li *ngFor="let product of productsArray(order.orderedProducts)"> 
                  {{product.count}}
                  {{product.name}}
                  </li>
                </ul>
              </td>
              <td>{{order.endDate | date: 'h:mm'}}</td>
              <td>{{order.endDate - order.startDate | date: 'mm:ss'}}</td>
              <td>{{order.status}}</td>
              <td><button (click)="confirmTicket(order.$key)" *ngIf="order.status == 'pending'" class="button-confirm">Confirmar</button></td>
              <td><button (click)="deleteTicket(order.$key)" *ngIf="order.status == 'pending'"  class="button-cancel">Cancelar</button></td>
              <!-- <td><button (click)="deleteTicket(order.$key)" [disabled]="order.status == 'ready'" [ngClass]="(status == 'ready') ? 'button-cancel disabled-button' : 'button-cancel enabled-button'">Cancelar</button></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>