<div className="container-kitchen">
    <div className="kitchen-detail">
      <section className="">
        <div className="kitchen-table">
          <table>
            <thead>
              <tr>
                <th>N° MESA</th>
                <th>CLIENTE</th>
                <th>HORA PEDIDO</th>
                <th>PEDIDO</th>
                <th>HORA TERMINO</th>
                <th>TIEMPO PREPARACION (min)</th>
                <th>ESTADO</th>
                <th>CANCELAR</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>12</td>
                  <td>Cami</td>
                  <td>2 : 20</td>
                  <td>1 cafe americano</td>
                  <td>2 : 30</td>
                  <td>10</td>
                  <td><button>Listo</button></td>
                  <td><button>Cancelar</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
