<div class="container-home">
  <div class="logo-home">
    <img class="logo" src="/assets/images/logo_home.png" alt="logo">
  </div>
  <div class="btns-home">
    <button class="btn-home" routerLink="/order">
      <img class="txt-icon" src="/assets/images/icon-btn-menu.png" alt="menu">
      <p class="txt-options">MENU</p>
    </button>
    <button class="btn-home" routerLink="/kitchen">
      <img class="txt-icon" src="/assets/images/icon-btn-burger.png" alt="menu">
      <p class="txt-options">COCINA</p>
    </button>
  </div>
</div>



